.link{
    cursor: pointer;
}

.burger{
    width: 20px;
    height: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.line{
    background-color: var(--textColor);
    width: 100%;
    height: 2px;
}

@media screen and (max-width: 640px) {
    .link{
        display: none;
    }
    .burger{
        display: flex;
    }
}

.responsiveMenu {
    position: absolute;
    top: 80px;
    left: 0;
    height: calc(100vh - 100px);
    width: 100%;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 30px;
}