.container{
    flex: 2;
    margin-top: 50px;
}

.subTitle{
    font-size: 15px;
    color: gray;
}

.title{
    font-size: 23px;
}

@media screen and (max-width: 920px) {
    .container{
        display: none;
    }
}
