.container{
    margin-top: 40px;
}

.title{
    font-size: 30px;
    font-weight: 300;
}

.post{
    display: flex;
    gap: 50px;
    margin-top: 50px;
    align-items: center;

}

.imgContainer{
    position: relative;
    flex: 1;
    height: 400px;
}

.image{
    object-fit: cover;

}

.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.postTitle{
    font-size: 30px;
}

.postDescription{
    font-size: 15px;
    color: var(--textColor-soft);
}

.button{
    margin-top: 20px;
    padding: 10px 15px;
    max-width: fit-content;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}