.container{
    margin-top: 50px;
}

.title{
    font-size: 13px;
}

.categories{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.category{
    border-radius: 10px;
    width: 13%;
    height: 55px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Image{
    border-radius: 30px;
}

.coding{
    background-color: rgba(187, 251, 132, 0.425);
}

.food{
    background-color: rgba(114, 250, 202, 0.425);
}

.fashion{
    background-color: rgba(151, 151, 207, 0.425);
}

.culture{
    background-color: rgba(240, 107, 25, 0.425);
}

.travel{
    background-color: rgba(230, 149, 162, 0.425);
}

.style{
    background-color: rgba(88, 146, 169, 0.425);
}

/* @media screen and (max-width: 1280px) {
    .category{
        width: 45%;
    }
} */
@media screen and (max-width: 1240px) {
    .category{
        width: 25%;
    }
}
@media screen and (max-width: 1024px) {
    .category{
        width: 25%;
    }
}
@media screen and (max-width: 768px) {
    .category{
        width: 35%;
    }
}
@media screen and (max-width: 640px) {
    .category{
        width: 45%;
    }
}

